<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- Context DB for execution -->
      <setting name="SiteCronContextDB" value="master" />
      <!-- Amount of seconds to add to the execute now task. Please make sure the setting is above 5 seconds to give enough time for SiteCron to reload. -->
      <setting name="SiteCronExecuteNowSeconds" value="10" />
    </settings>
    <commands>
      <command name="sitecron:executejob" type="Sitecron.Commands.ExecuteJob, Sitecron" />
    </commands>
    <events>
      <event name="item:saved">
        <handler type="Sitecron.Events.SitecronSavedHandler, Sitecron" method="OnItemSaved"/>
      </event>
      <event name="item:saved:remote">
        <handler type="Sitecron.Events.SitecronSavedHandler, Sitecron" method="OnItemSaved"/>
      </event>
      <event name="item:deleted">
        <handler type="Sitecron.Events.SitecronDeletedHandler, Sitecron" method="OnItemDeleted"/>
      </event>
      <event name="item:deleted:remote">
        <handler type="Sitecron.Events.SitecronDeletedHandler, Sitecron" method="OnItemDeleted"/>
      </event>
    </events>
    <pipelines>
      <initialize>
        <processor type="Sitecron.InitializeSitecron, Sitecron" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>