<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="Sitecron.Events.SitecronSavedHandler, Sitecron" method="OnItemSaved"/>
      </event>
      <event name="item:saved:remote">
        <handler type="Sitecron.Events.SitecronSavedHandler, Sitecron" method="OnItemSaved"/>
      </event>
      <event name="item:deleted">
        <handler type="Sitecron.Events.SitecronDeletedHandler, Sitecron" method="OnItemDeleted"/>
      </event>
      <event name="item:deleted:remote">
        <handler type="Sitecron.Events.SitecronDeletedHandler, Sitecron" method="OnItemDeleted"/>
      </event>
    </events>
    <pipelines>
      <initialize>
        <processor type="Sitecron.InitializeSitecron, Sitecron" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>