<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecronJobLoader  type="Sitecron.Core.Jobs.Loader.ConfigJobLoader, Sitecron">
      <sitecronJobs hint="raw:LoadConfigJobs">
        <sitecronJob name="Config Based Execute PowerShell Script" >
          <!-- Try to keep the name unique -->

          <!-- Basic SiteCron Job -->
          <!-- Type (specify class namespace, assembly) - Must inherit Quartz.IJob -->
          <type>Sitecron.Jobs.PowerShell.ExecuteScript, Sitecron</type>

          <!-- Cron Expression (e.g: 0 46 15 * * ?) -->
          <cronExpression>0 30 9 * * ? *</cronExpression>

          <!-- Execute Exactly At a Specific Date Time -->
          <executeExactlyAtDateTime></executeExactlyAtDateTime>

          <!-- Parameters (you can use anything here that you will consume in the code, e.g. test=1&p=first) -->
          <parameters>param1=13&amp;anotherparam=11</parameters>

          <!-- pipe delimited similar to the raw value of the treelistex field -->
          <items>{3DE95F89-4AEB-46FB-9F83-1AD0D8D2A3F0}</items>

          <!-- 0 or 1 -->
          <disable>1</disable>

          <!-- Common Attributes dor SiteCron Run As Sitecore Job and SiteCron Sitecore Schedule Command Job -->
          <sitecoreJobName></sitecoreJobName>
          <sitecoreJobCategory></sitecoreJobCategory>
          <!-- Job Site Name (Name of the site from the <sites> node in the config - shell, scheduler) -->
          <sitecoreJobSiteName></sitecoreJobSiteName>
          <!-- Priority (Lowest = 0, BelowNormal = 1, Normal = 2, AboveNormal = 3, Highest = 4) -->
          <sitecoreJobPriority></sitecoreJobPriority>

          <!-- SiteCron Run As Sitecore Job-->
          <!-- Job Type (specify class namespace, assembly) -->
          <sitecoreJobType></sitecoreJobType>

          <!-- Job Method (Parameterless Method) -->
          <sitecoreJobMethod></sitecoreJobMethod>

          <!-- SiteCron Sitecore Schedule Command Job -->
          <!-- Guid of the Sitecore Schedule Job -->
          <sitecoreScheduleJob></sitecoreScheduleJob>
          
          <!-- Run Minion -->
          <minionFullName></minionFullName>
          <environmentName></environmentName>
        </sitecronJob>
        <sitecronJob name="Config Based Site Smart Publish">
          <!-- Try to keep the name unique -->

          <!-- Basic SiteCron Job -->
          <!-- Type (specify class namespace, assembly) - Must inherit Quartz.IJob -->
          <type>Sitecron.Jobs.Publishing.SmartPublish, Sitecron</type>

          <!-- Cron Expression (e.g: 0 46 15 * * ?) -->
          <cronExpression>0 56 15 * * ? *</cronExpression>

          <!-- Execute Exactly At a Specific Date Time -->
          <executeExactlyAtDateTime></executeExactlyAtDateTime>

          <!-- Parameters (you can use anything here that you will consume in the code, e.g. test=1&p=first) -->
          <parameters>Target=web</parameters>

          <!-- pipe delimited similar to the raw value of the treelistex field -->
          <items></items>

          <!-- 0 or 1 -->
          <disable>1</disable>

          <!-- Common Attributes dor SiteCron Run As Sitecore Job and SiteCron Sitecore Schedule Command Job -->
          <sitecoreJobName></sitecoreJobName>
          <sitecoreJobCategory></sitecoreJobCategory>
          <!-- Job Site Name (Name of the site from the <sites> node in the config - shell, scheduler) -->
          <sitecoreJobSiteName></sitecoreJobSiteName>
          <!-- Priority (Lowest = 0, BelowNormal = 1, Normal = 2, AboveNormal = 3, Highest = 4) -->
          <sitecoreJobPriority></sitecoreJobPriority>

          <!-- SiteCron Run As Sitecore Job-->
          <!-- Job Type (specify class namespace, assembly) -->
          <sitecoreJobType></sitecoreJobType>

          <!-- Job Method (Parameterless Method) -->
          <sitecoreJobMethod></sitecoreJobMethod>

          <!-- SiteCron Sitecore Schedule Command Job -->
          <!-- Guid of the Sitecore Schedule Job -->
          <sitecoreScheduleJob></sitecoreScheduleJob>
          
          <!-- Run Minion -->
          <minionFullName></minionFullName>
          <environmentName></environmentName>          
        </sitecronJob>
        <sitecronJob name="Config Based SiteCron Run As Sitecore Job">
          <!-- Try to keep the name unique -->

          <!-- Basic SiteCron Job -->
          <!-- Type (specify class namespace, assembly) - Must inherit Quartz.IJob -->
          <type>Sitecron.Jobs.SitecoreJob.RunAsSitecoreJob, Sitecron</type>

          <!-- Cron Expression (e.g: 0 46 15 * * ?) -->
          <cronExpression>0 16 14 * * ? *</cronExpression>

          <!-- Execute Exactly At a Specific Date Time -->
          <executeExactlyAtDateTime></executeExactlyAtDateTime>

          <!-- Parameters (you can use anything here that you will consume in the code, e.g. test=1&p=first) -->
          <parameters></parameters>

          <!-- pipe delimited similar to the raw value of the treelistex field -->
          <items></items>

          <!-- 0 or 1 -->
          <archiveAfterExecution>0</archiveAfterExecution>

          <!-- 0 or 1 -->
          <disable>1</disable>

          <!-- Common Attributes dor SiteCron Run As Sitecore Job and SiteCron Sitecore Schedule Command Job -->
          <sitecoreJobName>SiteCron Test Sitecore Job</sitecoreJobName>
          <sitecoreJobCategory>SiteCron</sitecoreJobCategory>
          <!-- Job Site Name (Name of the site from the <sites> node in the config - shell, scheduler) -->
          <sitecoreJobSiteName>scheduler</sitecoreJobSiteName>
          <!-- Priority (Lowest = 0, BelowNormal = 1, Normal = 2, AboveNormal = 3, Highest = 4) -->
          <sitecoreJobPriority>4</sitecoreJobPriority>

          <!-- SiteCron Run As Sitecore Job-->
          <!-- Job Type (specify class namespace, assembly) -->
          <sitecoreJobType>Sitecron.Demo.Jobs.DummyJob, Sitecron</sitecoreJobType>

          <!-- Job Method (Parameterless Method) -->
          <sitecoreJobMethod>SomeWork</sitecoreJobMethod>

          <!-- SiteCron Sitecore Schedule Command Job -->
          <!-- Guid of the Sitecore Schedule Job -->
          <sitecoreScheduleJob></sitecoreScheduleJob>

          <!-- Run Minion -->
          <minionFullName></minionFullName>
          <environmentName></environmentName>
        </sitecronJob>
        <sitecronJob name="Config Based SiteCron Sitecore Schedule Command Job">
          <!-- Try to keep the name unique -->

          <!-- Basic SiteCron Job -->
          <!-- Type (specify class namespace, assembly) - Must inherit Quartz.IJob -->
          <type>Sitecron.Jobs.SitecoreJob.SitecoreScheduleCommandJob, Sitecron</type>

          <!-- Cron Expression (e.g: 0 46 15 * * ?) -->
          <cronExpression>0 13 14 * * ? *</cronExpression>

          <!-- Execute Exactly At a Specific Date Time -->
          <executeExactlyAtDateTime></executeExactlyAtDateTime>

          <!-- Parameters (you can use anything here that you will consume in the code, e.g. test=1&p=first) -->
          <parameters></parameters>

          <!-- pipe delimited similar to the raw value of the treelistex field -->
          <items></items>

          <!-- 0 or 1 -->
          <disable>1</disable>

          <!-- Common Attributes dor SiteCron Run As Sitecore Job and SiteCron Sitecore Schedule Command Job -->
          <sitecoreJobName>SiteCron Execute Sitecore Schedule Job</sitecoreJobName>
          <sitecoreJobCategory>SiteCron</sitecoreJobCategory>
          <!-- Job Site Name (Name of the site from the <sites> node in the config - shell, scheduler) -->
          <sitecoreJobSiteName>scheduler</sitecoreJobSiteName>
          <!-- Priority (Lowest = 0, BelowNormal = 1, Normal = 2, AboveNormal = 3, Highest = 4) -->
          <sitecoreJobPriority>3</sitecoreJobPriority>

          <!-- SiteCron Run As Sitecore Job-->
          <!-- Job Type (specify class namespace, assembly) -->
          <sitecoreJobType></sitecoreJobType>

          <!-- Job Method (Parameterless Method) -->
          <sitecoreJobMethod></sitecoreJobMethod>

          <!-- SiteCron Sitecore Schedule Command Job -->
          <!-- Guid of the Sitecore Schedule Job -->
          <sitecoreScheduleJob>{44428794-05A4-4BE6-90D6-7D0BF128D17E}</sitecoreScheduleJob>

          <!-- Run Minion -->
          <minionFullName></minionFullName>
          <environmentName></environmentName>
        </sitecronJob>
        <!--<sitecronJob name=""> --><!-- Try to keep the name unique --><!--
        
          --><!-- Basic SiteCron Job --><!--
          --><!-- Type (specify class namespace, assembly) - Must inherit Quartz.IJob --><!--
          <type></type>
        
          --><!-- Cron Expression (e.g: 0 46 15 * * ?) --><!--
          <cronExpression></cronExpression>
        
          --><!-- Execute Exactly At a Specific Date Time --><!--
          <executeExactlyAtDateTime></executeExactlyAtDateTime>
        
          --><!-- Parameters (you can use anything here that you will consume in the code, e.g. test=1&p=first) --><!--
          <parameters></parameters>
        
          --><!-- pipe delimited similar to the raw value of the treelistex field --><!--
          <items></items>
        
          --><!-- 0 or 1 --><!--
          <disable>0</disable>
        
          --><!-- Common Attributes dor SiteCron Run As Sitecore Job and SiteCron Sitecore Schedule Command Job --><!--
          <sitecoreJobName></sitecoreJobName>
          <sitecoreJobCategory></sitecoreJobCategory>
          --><!-- Job Site Name (Name of the site from the <sites> node in the config - shell, scheduler) --><!--
          <sitecoreJobSiteName></sitecoreJobSiteName>
          --><!-- Priority (Lowest = 0, BelowNormal = 1, Normal = 2, AboveNormal = 3, Highest = 4) --><!--
          <sitecoreJobPriority></sitecoreJobPriority>
        
          --><!-- SiteCron Run As Sitecore Job--><!--
          --><!-- Job Type (specify class namespace, assembly) --><!--
          <sitecoreJobType></sitecoreJobType>

          --><!-- Job Method (Parameterless Method) --><!--
          <sitecoreJobMethod></sitecoreJobMethod>
        
          --><!-- SiteCron Sitecore Schedule Command Job --><!--
          --><!-- Guid of the Sitecore Schedule Job -->
            <!--
          <sitecoreScheduleJob></sitecoreScheduleJob>-->
          
          <!-- Run Minion --><!--
          <minionFullName></minionFullName>
          <environmentName></environmentName>
          </sitecronJob>-->
      </sitecronJobs>
    </sitecronJobLoader>
  </sitecore>
</configuration>