<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net48" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net48" />
  <package id="Quartz" version="3.2.4" targetFramework="net48" />
  <package id="Sitecore.Client" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.1.0" targetFramework="net48" />
</packages>